<div class="container">
    <div class="row">
        <div class="col-md-12" align="center">
            <h1>Pokémon - <b>T</b>rading <b>C</b>ard <b>G</b>ame - Search</h1>
        </div>
    </div>

    <div class="row">
        <!-- <div class="col-2"></div> -->
        <div class="col text-justify">
            <p>
                Type a full Pokémon name or partial name into the search field. The request goes to the
                <a href="https://pokemontcg.io/" class="card-link info-text">pokemontcg.io</a> api.
                Please choose the right option for downloading images with hi (up to 1.5 MB per image) or low resolution
                before submit the request.
                Note that you can a maximum number hit of 100 per request.<br>
                Click Pikachu and say hello 😄.
            </p>
            <P>
                <small>
                    I know there are enough search sites. But, here you can easily download the card images. Select the
                    cards and press 'Download'.
                </small>
            </P>
        </div>
        <!-- <div class="col-2"></div> -->
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card text-white bg-dark mb-3 border-gold">
                <div class="card-body">
                    <app-input-form></app-input-form>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Results -->
<div *ngIf="receivedCards.length!==0" class="container-fluid">
    <hr class="hr-gold">
    <div class="row ">
        <div class="col-md-4">
            <div class="card text-white bg-dark mb-3 border-gold">
                <div class="card-body">
                    <div class="row ">
                        <div class="col-md-4">
                            <!-- choose gallery or list view -->
                            <h5 class="card-title">View Option:</h5>
                            <div class="form-check">
                                <div>
                                    <input type="radio" class="form-check-input" name="viewOptionRadio" [checked]="true"
                                        (change)="onSelectedViewOption('gallery')">
                                    <label class="form-check-label">Gallery</label>
                                </div>

                                <div>
                                    <input type="radio" class="form-check-input" name="viewOptionRadio"
                                        (change)="onSelectedViewOption('list')">
                                    <label class="form-check-label">List</label>
                                </div>
                            </div>
                        </div>
                        <!-- Download Images -->
                        <div class="col-md" *ngIf="viewOption === 'gallery'; else viewNoDownload">
                            <h5 class="card-title">Download Images:</h5>
                            '$ (cd C:/tmp/images && xargs -n 1 curl -O < C:/tmp/testUrl.txt)'
                            <div>
                                <label class="form-check-label">You selected '{{selectedCards.length}}' card<span
                                        *ngIf="selectedCards.length!==1">s</span>.
                                </label>
                            </div>
                        </div>
                        <ng-template #viewNoDownload>
                            Please select 'Gallery View' to select and download images.
                        </ng-template>
                        <div class="col-md" *ngIf="viewOption === 'gallery'">
                            <button (click)="onClickDownload()" [disabled]="selectedCards.length===0" class="btn btn-primary">Download</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- View result -->
    <div class="row ">
        <div class="col">
            <!-- show result string or error message; initialstate is no content with no error message -->
            <div *ngIf="receivedCards.length !== 0">

                <h3>
                    <p>
                        Search result for cards contain '{{pokemonName}}': {{receivedCards.length}}
                        <small class="text-muted">/ max. 100</small>
                    </p>
                </h3>

            </div>

            <div *ngIf="viewOption === 'gallery'; else viewListTemplate">
                <app-pokemon-cards></app-pokemon-cards>
            </div>
            <ng-template #viewListTemplate>
                <app-pokemon-lists></app-pokemon-lists>
            </ng-template>
        </div>
    </div>
</div>