<form [formGroup]="pokemonForm" (ngSubmit)="onSubmit()">

	<div class="form-group">

		<div class="row">
			<div class="col-md-5">
				<small class="form-text text-muted mb-1">URL request: {{requestUrl}}</small>
				<!--<label class="form-control-label">Full name or partial name of Pokemon:</label>-->
				<input type="text" formControlName="pokemon_name" class="form-control"
					[ngClass]="pFC.pokemon_name.errors ? 'is-invalid': 'is-valid' " placeholder="Pokémon or part name"
					(ngModelChange)="onPokemonNameChange()">



				<div *ngIf="pFC.pokemon_name.errors" class="invalid-feedback">
					<div *ngIf="pFC.pokemon_name.errors.required">At least one character is required.</div>
					<div *ngIf="pFC.pokemon_name.errors.pattern">Only 'A-Z, a-z, 0-9, -' character allowed. No
						whitespaces.
					</div>
				</div>


			</div>

			<!-- Running Pokemon -->
			<div class="col-md-1">

				<div (click)="playPikachuAudio()">
					<!-- I was not able to set a fix time set of keyframes for this image animation in Angular/Animations.
					My result ends in floating animations. This is not what I want. Pure CSS animation does the job.
					If you know how to do this please write me an Email (dpanster.dev@web.de). Thanks
					-->
					<!-- Angular way: -->
					<!-- <div [@trgPikaRun]></div> -->

					<!-- Pure CSS animations: -->
					<div *ngIf="bAnimationPikaRun === true; else animOnClick">
						<p class="spritePikaRun" [ngStyle]="{'animation-duration': pikaRunAnimDuration}"
							alt="spritePikaRun"> </p>
					</div>
					<ng-template #animOnClick>
						<p class="spritePikaJumpFlash" alt="spritePikaJumpFlash"> </p>
					</ng-template>
				</div>
			</div>

			<div class="col-md-4">
				<!-- choose highRes or standardRes imgae download -->
				<div class="form-check">
					<label class="form-check-label">
						<input type="radio" class="form-check-input" name="imgResolutionOption" id="lowResolutionImages"
							value="lowResolutionImages" formControlName="imgResolutionOption">
						Load low resolution card images.
					</label>
				</div>
				<div class="form-check">
					<label class="form-check-label">
						<input type="radio" class="form-check-input" name="imgResolutionOption" id="hiResolutionImages"
							value="hiResolutionImages" formControlName="imgResolutionOption">
						Load high resolution card images.<br>
						<small>This can require a lot of data consumption (up to ~1.3 MB per image).</small>
					</label>
				</div>
			</div>

			<div class="col-md-1">
				<!--Search Button -->
				<!-- Validation alternative:  pokemonForm.invalid -->
				<button type="submit" [disabled]="pFC.pokemon_name.errors" class="btn btn-primary">Search</button>
			</div>
		</div>
	</div>

	<!-- error http response message -->
	<div *ngIf="responseErr.length !== 0">
		<p class="text-danger">HTTP Error: {{responseErr}}</p>
	</div>
</form>